body{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3{
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.5;
}
h1{
    font-size: 3.5rem;
    margin-bottom: 10%;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
}


.background{
    background:linear-gradient(#F55050,#00425A) ;
    color: #fff;
}


/* Navigation bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.5rem;
}
.container-fluid{
    padding: 3% 15%;
    padding-bottom: 5%;
}


/* Download Buttons */
.download-button{
    margin: 3% 3% 5% 0;
}

/* Title */
#title{
    height: 100%;
}
.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Features */
#features{
    padding: 7% 15%;
    background: white;
    position: relative;
    z-index: 1;
}
#features p{
    color: #8f8f8f;
}
.feature-icon{
    color: #F55050;
    margin-bottom: 10%;
}
.feature-icon:hover{
    color: #00425A;
}


/* Space Between */

.space-between{
    padding: 5% 0 0 0;
}

/* testimonials */
#testimonials{
    text-align: center;
}
.testimonials-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* Press */
#press{
    background: #00425A ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 13%;
    margin: 20px 20px 50px 20px;
}
.card-btn{
    width: 100%;
}
.business{
    height: 70px;
    width: 17%;
}

/* Pricing */

#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}



/* CTA */
.cta{
    text-align: center;
    padding-top: 5%;
}
#cta h3{
    font-size: 3rem;
    width: 60%;
    margin: auto auto 0 auto;
}
/* FOOTER */
#footer{
    text-align: center;
    padding:5% 0 2% 0;
}
#footer a{
    text-decoration: none;
    color: #656565;
    margin: 10px; 
    font-size: 1.6rem;
}
#footer .twitter:hover{
    color: rgb(23, 108, 169);
}
#footer .facebook:hover{
    color: blue;
}
#footer .instagram:hover{
    color:rgb(175, 20, 77);
}
#footer .mail:hover{
    color: red;
}

#footer p{
    color: #656565;
    margin-top: 20px;
    font-size: 1.2rem;
}


@media (max-width:1080px){
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
        width: 300px;
    }
}